<md-toolbar   color="primary" class="main-toolbar md-medium-tall">
  <a style="margin-top: 7px"  [routerLink]="['/']"><img src="http://www.coderfirst.lk//Content/images/logo-6-17-17.png?ver=3"></a>  
  <span class="example-spacer"></span>
  <button md-button  [routerLink]="['/career']">CAREER</button>
  <button md-button  [routerLink]="['/career']">WRITE POST</button>
  <button md-button >SHARE</button>  
  <button md-button  [routerLink]="['/register']">REGISTER</button>
  
  <span class="fill-remaining-space"></span>
  <button md-raised-button (click)="openDialog()" color="accent"> <md-icon class="md-25" mdTooltip="Share a link!" >share</md-icon>Share</button>
  <button   md-button [mdMenuTriggerFor]="appMenu"> <img  alt="angular" class="docs-angular-logo" src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"> &nbsp; Hi, Askar <md-icon>more_vert</md-icon></button>
   
</md-toolbar>
<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>



