.main-toolbar {
    margin-bottom: 24px;
}
mat-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
.mat-toolbar {
    min-height: 56px !important;
    background-color: #434c5b;
}
.mat-toolbar-row {
    height: 56px !important;
}