<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<mat-toolbar   color="primary" class="main-toolbar mat-medium-tall">
  <a style="margin-top: 7px"  [routerLink]="['/']"><img src="http://www.coderfirst.lk/Content/images/logo-6-17-17.png?ver=3"></a>  
  <span class="example-spacer"></span>
  <button mat-button  [routerLink]="['/career']">CAREER</button>
  <button mat-button  [routerLink]="['/career']">WRITE POST</button>
  <button mat-button >SHARE</button>  
  <button mat-button  [routerLink]="['/register']">REGISTER</button>
  
  <span class="fill-remaining-space"></span>
  
  <button mat-button (click)="openDialog()"  > <mat-icon class="mat-25" matTooltip="Share a link!" >share</mat-icon>Share</button>
  <button   mat-button [matMenuTriggerFor]="appMenu"> <img  alt="angular" class="docs-angular-logo" src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"> &nbsp; Hi, Askar <mat-icon>more_vert</mat-icon></button>
   
</mat-toolbar>
 

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>