<h3 md-dialog-title>CoderFirst Sharing</h3>
<div md-dialog-content>
    <form class="example-form">
        <md-form-field class="full-width">
          <input style="width: 100%" mdInput placeholder="SUBMIT A LINK e.g. http://example.com/interesting-web-page" value="">
        </md-form-field>
      </form>
</div>
<div md-dialog-actions>
    <button md-icon-button>
        <md-icon class="md-25" mdTooltip="Share a link!" >share</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="md-25" mdTooltip="Share a video!" >play_circle_outline</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="md-25" mdTooltip="Write an article!" >mode_edit</md-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <button md-raised-button  color="accent"> <md-icon class="md-25" mdTooltip="Share a link!" >share</md-icon>Post</button>
</div>
 