<h3 mat-dialog-title>CoderFirst Sharing</h3>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="full-width">
          <input style="width: 100%" matInput placeholder="SUBMIT A LINK e.g. http://example.com/interesting-web-page" value="">
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
    <button mat-icon-button>
        <mat-icon class="mat-25" matTooltip="Share a link!" >share</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mat-25" matTooltip="Share a video!" >play_circle_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mat-25" matTooltip="Write an article!" >mode_edit</mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button  color="accent"> <mat-icon class="mat-25" matTooltip="Share a link!" >share</mat-icon>Post</button>
</div>
 